
/* navbar */


.navbar-default {
    transition: all .5s ease-in-out;
    background-color: #ffffff;
    padding-top: 28px;
    padding-bottom: 28px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 1px 2px 15px rgba(100, 100, 100, 0.3);
  }
  
  .navbar-default .nav-search {
    color: #000000;
    font-size: 1.5rem;
  }
  
  .navbar-default.navbar-reduce {
    box-shadow: 1px 2px 15px rgba(100, 100, 100, 0.3);
  }
  
  .navbar-default.navbar-trans, .navbar-default.navbar-reduce {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .navbar-default.navbar-trans .nav-item, .navbar-default.navbar-reduce .nav-item {
    position: relative;
    padding-right: 10px;
    padding-bottom: 8px;
    margin-left: 0;
  }
  
  @media (min-width: 768px) {
    .navbar-default.navbar-trans .nav-item, .navbar-default.navbar-reduce .nav-item {
      margin-left: 15px;
    }
  }
  
  .navbar-default.navbar-trans .nav-link, .navbar-default.navbar-reduce .nav-link {
    font-size: 1.1rem;
    color: #000000;
    font-weight: 600;
    letter-spacing: 0.030em;
    transition: all 0.1s ease-in-out;
    position: relative;
    padding-left: 0;
    padding-right: 0;
  }
  
  .navbar-default.navbar-trans .nav-link:before, .navbar-default.navbar-reduce .nav-link:before {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 2px;
    z-index: 0;
    background-color: turquoise;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .2s ease-out, opacity .2s ease-out 0.3s;
  }
  
  .navbar-default.navbar-trans .nav-link:hover, .navbar-default.navbar-reduce .nav-link:hover {
    color: #000000;
  }
  
  .navbar-default.navbar-trans .nav-link:hover:before, .navbar-default.navbar-reduce .nav-link:hover:before {
    transform: scaleX(1);
    transform-origin: left;
  }
  
  .navbar-default.navbar-trans .show > .nav-link:before,
  .navbar-default.navbar-trans .active > .nav-link:before,
  .navbar-default.navbar-trans .nav-link.show:before,
  .navbar-default.navbar-trans .nav-link.active:before, .navbar-default.navbar-reduce .show > .nav-link:before,
  .navbar-default.navbar-reduce .active > .nav-link:before,
  .navbar-default.navbar-reduce .nav-link.show:before,
  .navbar-default.navbar-reduce .nav-link.active:before {
    transform: scaleX(1);
  }
  
  .navbar-default.navbar-trans .nav-link:before {
    background-color: turquoise;
  }
  
  .navbar-default.navbar-trans .nav-link:hover {
    color: #000000;
  }
  
  .navbar-default.navbar-trans .show > .nav-link,
  .navbar-default.navbar-trans .active > .nav-link,
  .navbar-default.navbar-trans .nav-link.show,
  .navbar-default.navbar-trans .nav-link.active {
    color: #000000;
  }
  
  .navbar-default.navbar-reduce {
    transition: all .5s ease-in-out;
    padding-top: 19px;
    padding-bottom: 19px;
  }
  
  .navbar-default.navbar-reduce .nav-link {
    color: #000000;
  }
  
  .navbar-default.navbar-reduce .nav-link:before {
    background-color: turquoise;
  }
  
  .navbar-default.navbar-reduce .nav-link:hover {
    color: #000000;
  }
  
  .navbar-default.navbar-reduce .show > .nav-link,
  .navbar-default.navbar-reduce .active > .nav-link,
  .navbar-default.navbar-reduce .nav-link.show,
  .navbar-default.navbar-reduce .nav-link.active {
    color: #000000;
  }
  
  .navbar-default.navbar-reduce .navbar-brand {
    color: #000000;
  }
  
  .navbar-toggler {
    background-color: turquoise;

   
  }

  .navbar-default .navbar-toggler .navbar-toggler-icon {
    color: white;

}
@include media-breakpoint-down(xs) {
  .navbar-toggler {
      margin-left: 0;
      margin-right: 0;
  }
}


  /* Main content*/

    .marketing {
        margin-top: 200px;
    }


    .about-us {
      margin-top: 200px;
    }

    .container-services {
      margin-top: 200px;
    }

    .services-header {
      margin-top: 200px;
    }

    .prices-header {
      margin-top: 200px;
    }

    .table-prices {
      width: 800px;
      margin: auto;
      margin-top: 80px;
    }

    .contact-card {
      width: 500px;
      height: 500px;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     
    }

  /* Footer */
  .section-footer {
    padding-top: 60px;
    margin-top: 60px;
    background: #f3f3f3;
  }
  
  .section-footer ul {
    line-height: 2;
  }
  
  .section-footer .item-list-a i {
    font-size: 18px;
    position: absolute;
    padding-right: 4px;
    color: #2eca6a;
  }
  
  .section-footer .widget-a .w-title-a {
    margin-bottom: 1rem;
  }
  
  footer {
    background: #f3f3f3;
    text-align: center;
    padding: 30px 0;
  }
  
  footer .copyright-footer {
    border-top: 1px solid #ddd;
    padding-top: 20px;
  }
  
  footer .credits {
    font-size: 14px;
  }
